<div class="container w-full bg-white">
  <div
    class="w-96 mt-5 flex flex-col items-center justify-center m-auto bg-white border border-gray-200 rounded-lg shadow"
  >
    <div class="w-96 flex justify-start">
      <a href="/home">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="pl-2 w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
          />
        </svg>
      </a>
    </div>

    <div id="root" class=""></div>
  </div>
</div>

<script type="module" src="/components/sneakers/sneakers.js"></script>
